/* BASIC */

html {
    background-color: #59c0df;
    color: white;
}

h1,
h2 {
    text-align: center;
}

h2 {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

p {
    text-align: center;
}

/* FLEXBOX */
.flexbox {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .flexbox {
        justify-content: flex-start;
        padding: 0;
    }
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        height: 30%;
        padding: 0 2rem;
    }
}

/* BUTTON */
#button {
    margin: 1.25rem 0;
    background-color: #59c0df;
    border: 2px solid white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
}

#button:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid white;
    color: #59c0df;
}

#button:active {
    cursor: pointer;
    border: 2px solid white;
    background-color: #59c0df;
    color: white;
}

/* CREATED MENU DIV */
.created_menu {
    margin-top: 2rem;
    background-color: white;
    color: #59c0df;
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .created_menu {
        width: 100%;
        height: 70%;
        margin-top: 0;
        padding: 0 2rem;
    }
}

/* CREATED MENU TEXTS DIV */
#created_menu_texts {
    display: none;
}

/* MEAL DESCRIPTION <p> */
.meal_description {
    font-size: 0.9rem;
}

/* SIDE DISH DIV */

#side_dish_div {
    display: none;
}